
#CreditsContainer{
    height: 40px;
	background-color: #FAFAFA;
	min-width:699px;
	width:100%;
	margin:0;
	border:0;
	padding:0;
	
}

.creditsText{
	font-size:10px;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	fill: rgba(80,80,80,0.8);
	stroke: none;
	pointer-events: visible;
}

.creditsLink{
	font-size:10px;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
		fill: rgba(255,64,18,0.8);
	stroke: none;
	pointer-events: visible;
}


#chart1, #chart2 {
    height: 496px;
	border: 2px solid #FAFAFA;/*#FAFAFA;*/

}
